name: deb packaging

on:
  push:
    tags:
      - 'debian/*.*.*'
      - 'test/*'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    uses: dionysius/gbp-gha/.github/workflows/build.yml@devel
    secrets:
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
    with:
      # https://github.com/orgs/community/discussions/26671
      DEBFULLNAME: dionysius (github-actions)
      DEBEMAIL: dragon.dionysius+gha@gmail.com
      before_build_deps_install: ""
      images: '["ubuntu:latest", "ubuntu:rolling", "debian:stable", "debian:oldstable"]'
      architectures: '["amd64", "arm64", "riscv64"]'

  release:
    if: startsWith(github.event.ref, 'refs/tags/debian')
    needs: [build]
    uses: dionysius/gbp-gha/.github/workflows/release.yml@devel
    with:
      publish: true
      prerelease: true

  promote:
    uses: dionysius/gbp-gha/.github/workflows/promote-release.yml@devel
    needs: [release]
    with:
      in_days: 1
      release_pattern: '{debian/*.*}.*'
